#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

label {
  width: 100px;
  display: inline-block;
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
  vertical-align: top;
}

.row {
  padding-top: 20px;
}